{% extends 'base.html.twig' %}

{% block title %}Acteurs{% endblock %}
{% block header  %}

            <div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="js-fullheight img"  >
			<h1 id="colorlib-logo" class="mb-4"><a href="index.html">Admin</a></h1>
			<nav id="colorlib-main-menu" role="navigation">
				<ul>
					<li ><a href="{{ path('users')}}">Clients et Admins </a></li>
					<li><a href="{{ path('films')}}">Films</a></li>
					<li><a href="{{ path('acteurs')}}">Acteurs</a></li>
					<li><a href="{{ path('abonnements')}}">Abonnements</a></li>
					<li><a href="{{ path('app_logout')}}">Logout  </a></li>
				</ul>
			</nav>

		
		</aside>
{% endblock %}
{% block body %}
    <h1>Acteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_prenom</th>
                <th>Nationalite</th>
                <th>Date_naissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acteur in acteurs %}
            <tr>
                <td>{{ acteur.id }}</td>
                <td>{{ acteur.nomPrenom }}</td>
                <td>{{ acteur.nationalite }}</td>
                <td>{{ acteur.dateNaissance ? acteur.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>
                   <form method="post" action="{{ path('acteur_delete', {'id': acteur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ acteur.id) }}">
                    <button class="btn btn-danger">Delete</button>
                </form>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no acteurs trouve</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('acteur_new') }}"><button type="button" class="btn btn-primary" >Ajouter Acteur</button></a>
{% endblock %}
